## Problem Set 2

### Q1.

In [1]:
a=0
def b():
    global a
    a = c(a)

def c(a):
    return a+2

In [2]:
b()
b()
b()
a

6

As 'a' is defined as global variable, its value can be accessed inside a function call also.  
  
Initially value of a=0, when the FIRST function call is executed the value of a=0 is passed to c(a) and the value 2 is returned and stored in the same variable 'a'.  
In the SECOND function call, the value 2 is passed to c(a) and value 4 is returned and variable 'a' gets overwritten by value 4.  
And in the THIRD functioncall, the value 4 is passed to c(a) and value 6 is returned and variable 'a' get overwritten by value 6.  
  
So the value of 'a' becomes 6.

### Q2.

In [9]:
def fileLength(filename):
    try:
        infile = open(filename)
        lines = infile.readlines()
        print("Total Lines in file {} is {}".format(filename,len(lines)))
    except:
        print("File {} not found".format(filename))

In [225]:
fileLength('FileLength.txt')

Total Lines in file FileLength.txt is 5

In [226]:
fileLength('midterm.py')

File midterm.py not found

### Q3.

In [29]:
class Marsupial:
    def __init__(self):
        self.lst=[]
    def put_in_pouch(self, string):
        self.lst.append(string)
    def pouch_contents(self):
        print(self.lst)

In [30]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

In [31]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [227]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
    def __str__(self): 
        return f"I am a Kangaroo located at coordinates {self.x, self.y}"

In [228]:
k = Kangaroo(0,0)
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

In [229]:
print(k)

I am a Kangaroo located at coordinates (3, 0)

### Q4.

In [197]:
def collatz(num):
    print(num)
    
    if num==1: pass
    else:
        if num%2 == 0: collatz(int(num/2))
        else: collatz(int(3*num + 1))

In [198]:
collatz(1)

1

In [199]:
collatz(10)

10
5
16
8
4
2
1

### Q5.

In [200]:
def binary(num):
    print(num%2,end = '')
    
    if num == 1 or num==0: pass
    else: binary(int(num / 2))

In [201]:
binary(0)

0

In [202]:
binary(1)

1

In [203]:
binary(3)

11

In [204]:
binary(9)

1001

### Q6.

In [223]:
from re import match, I         # Regular Expression. Used to check if a string matches a given regular expression
from html.parser import HTMLParser

getH = 0
class HeadingParser(HTMLParser):

    def handle_starttag(self, tag, attrs):

        global getH
        is_match = match(r'h(\d)', tag, I)  # match() is used to determine if the RE matches at the beginning of the string           
        if is_match: getH = int(is_match.group(1))
            
    def handle_endtag(self, tag):
        is_match = match(r'h(\d)', tag, I)
        if is_match: getH = 0

    def handle_data(self, data):
        if getH > 0:
            tab = getH - 1
            out = " "*tab
            print(out+data)
            
infile = open('w3c.html') 
content = infile.read() 
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


 Principles

### Q7.

In [224]:
import requests
from bs4 import BeautifulSoup   # It is used for pulling out data from HTML/XML files

def webdir(url, depth, indent):
    resp = requests.get(url)
    print(url)
    if(depth == indent):
        return
    soup = BeautifulSoup(resp.text, 'html.parser')  # As we are concerned here with HTML files only we are using html.parser
    for link in soup.findAll('a'):
        new_link = link.get('href')
        if(new_link.startswith('https')):
            webdir(new_link, depth, indent+1)

#http://reed.cs.depaul.edu/lperkovic/csc242/test1.html - Error 404 on this page so took a random URL
webdir('https://www.tutorialrepublic.com/html-tutorial/html-links.php', 2, 1)

https://www.tutorialrepublic.com/html-tutorial/html-links.php
https://www.tutorialrepublic.com/
https://www.facebook.com/tutorialrepublic
https://twitter.com/tutrepublic
https://www.facebook.com/tutorialrepublic
https://twitter.com/tutrepublic
https://www.buymeacoffee.com/tutrepublic
https://facebook.com/sharer.php?u=https://www.tutorialrepublic.com%2Fhtml-tutorial%2Fhtml-links.php

### Q8.

In [158]:
import sqlite3
conn = sqlite3.connect('PS3.db')
cur = conn.cursor()

In [159]:
cur.execute('''CREATE TABLE weather
               (city text,
               country text,
               season text,
               temperature real,
               rainfall real)''')

In [160]:
cur.execute("INSERT INTO weather VALUES ('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO weather VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO weather VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO weather VALUES ('Mumbai','India','Fall',27.6,346.0)")

cur.execute("INSERT INTO weather VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO weather VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO weather VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO weather VALUES ('London','United Kingdom','Fall',10.4,218.5)")

cur.execute("INSERT INTO weather VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO weather VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

In [163]:
# 1. All the temperature data
cur.execute("Select temperature from weather")
rows = cur.fetchall()
for row in rows:
    print(row, end = ' ')

(24.8,) (28.4,) (27.9,) (27.6,) (4.2,) (8.3,) (15.7,) (10.4,) (13.6,) (20.7,) (27.7,) (22.2,)

In [164]:
# 2. All the cities but without repetition
cur.execute("Select distinct city from weather")
rows = cur.fetchall()
for row in rows:
    print(row)

('Mumbai',)
('London',)
('Cairo',)

In [166]:
# 3. All the records for India
cur.execute("Select * from weather where country = 'India'")
rows = cur.fetchall()
for row in rows:
    print(row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [167]:
# 4. All the Fall records
cur.execute("Select * from weather where season = 'Fall'")
rows = cur.fetchall()
for row in rows:
    print(row)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [169]:
# 5. The city, country and season for which the avg rainfall is between 200 and 400 mm
cur.execute("Select city,country,season from weather where rainfall > 200 and rainfall<400")
rows = cur.fetchall()
for row in rows:
    print(row)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [173]:
# 6. The city and country for which the avg Fall temp is above 20 degree, in increasing order
cur.execute("Select city, country from weather where temperature > 20 and season = 'Fall' order by temperature")
rows = cur.fetchall()
for row in rows:
    print(row)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [176]:
# 7. The total annual rainfall for Cairo
cur.execute("Select SUM(rainfall) from weather where city = 'Cairo'")
rows = cur.fetchall()
for row in rows:
    print(rows)

[(27.6,)]

In [183]:
# 8. The total rainfall for each season
cur.execute("Select season, SUM(rainfall) from weather GROUP BY season")
rows = cur.fetchall()
for row in rows:
    print(row)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

### Q9.

In [188]:
words = ['The','quick','brown','fox','jumps','over','the','lazy','dog']

In [189]:
[x.upper() for x in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [190]:
[x.lower() for x in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [191]:
# Length of each word in the list
[len(x) for x in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [192]:
[[x.upper(),x.lower(),len(x)] for x in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [193]:
# List of words containing 4 or more characters
[x for x in words if len(x)>3]

['quick', 'brown', 'jumps', 'over', 'lazy']